<%= render @garden %>

<div class="cards mt-4">
  <% @garden.plants.each do |plant| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
      <%= plant.name %>
      <%= link_to "+", plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-remove-link" %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "Add a plant", new_garden_plant_path(@garden)  %>
  <%= link_to "Edit this garden", edit_garden_path(@garden) %> |
  <%= link_to "Back to gardens", gardens_path %>
</div>
